html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	font-size: 62.5%;
	line-height: 1.5;
	margin: 0 auto;
	display:flex;
	justify-content: center;
}
.container {
	width: 100%;
	margin: 0 auto;
	background-color: lightblue;
}
.head {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	padding: 7%;
	text-align: center;
}
h3 {
	font-size: 2.4rem;
	font-weight: bold;
}
.links {
	font-size: 2rem;
	border: 1px solid black;
	padding:4px;
	text-decoration: none;
	margin: 4px;
}
.center {
	position: relative;
	text-align:center;
	color: white;
	padding: 7%;
}

.name {
	font-size: 7.2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 250%;
	font-weight: bold;
}
.pics {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.rowOne {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	box-sizing: border-box;
}
.rowTwo {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	box-sizing: border-box;
}
.labels {
	width:30%;
}
p {
	font-size: 2rem;
	padding: 4%;
}
.foot {
	display: flex;
	justify-content: center;
	padding: 3%;
}
.contact {
	display: flex;
	justify-content: center;
}
.media {
	display: flex;
	flex-wrap: nowrap;
}
@media(max-width: 800px){
	.center{
		color:red;
	}
}
@media(max-width: 500px){
	.head {
		flex-direction: column;
	}
	.rowOne {
		flex-direction: column;
		align-items: center;
	}
	.rowTwo {
		flex-direction: column;
		align-items:  center;
	}
	p {
		display: flex;
		justify-content: center;
	}
	html {
		border: none;
	}
	.head {
		line-height: 3;
	}
}